<%= form_with(model: amenity_room, local: true) do |form| %>
  <% if amenity_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amenity_room.errors.count, "error") %> prohibited this amenity_room from being saved:</h2>

      <ul>
      <% amenity_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.number_field :room_id %>
  </div>

  <div class="field">
    <%= form.label :amenity_id %>
    <%= form.number_field :amenity_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
